@charset "UTF-8";
/* CSS Document */

body {
  font-family: courier;
}
h2 { 
}
.new-exercise-button {
position: relative;
} 
.mobile-container {
  margin: auto;
  background-color: #F8E9CD;
  color: black;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: #FDFDFD;
  color: white;
}





